*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: 'Parisienne', cursive;
    font-size:110%;
    line-height: 1.5;
    font-size: 1.1em;
}
header{
    background-image: url("https://wallpapercave.com/wp/wp1871763.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top;
    width: auto;
    text-align: center;
    justify-content: center;
    color:white;
    height: 550px;
    padding: 0 1.5em;
}
header h1{
    font-size: 310%;
    padding-top:100px;
    color: turquoise;
}
header p{
    margin: 0;
    padding: 0.25em 0;
    width: 872.219px;
    justify-self: center;
    color: white;
    font-size: 250%;
    text-align: center;
    font-weight: 800;
    position: relative;
    left: 200px;
}
#name{
    font-weight: 700;
    color: red;
    left: 500px;
    font-size: 190%;
}
header button {
    background-color: black;
    border:1px solid;
    text-align: center;
    color: white;
    font-size:110%;
    padding: 20px 30px;
} 
.section1{
    background-color: white;
    color:rgb(82, 82, 82);
    text-align: center;
    padding: 20px 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
.section1 #Icolor{
    color: orange;
}
.section1 h2{
    font-size:180%;
}
.section1 p{
    display: inline-block;
    width: 800px;
    margin-right:30px;
}
.section1 ul{
    text-decoration: none;
    list-style: none;
}
.section2{
    background-color:rgb(255, 219, 118);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.section2 figure{
    background-color:white;
    width: 480px;
    height: 830px;
    margin:20px 10px;
}
.section2 ul{
    list-style: none;
    text-align: start;
    padding: 10px 20px;
}
.section2 figure figcaption{
    text-align: center;
    padding: 1.5em;
    font-size:120%;
}
.section2 figure figcaption h3{
    font-style: oblique;
    font-size: 115%;
    margin-bottom: 10px;
}
.section3{
    background-color: white;
    margin-top: 20px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    /*width: max-content;*/
    background-image: url("https://st2.depositphotos.com/5123557/7996/i/950/depositphotos_79965254-stock-photo-orange-light-abstract-geometric-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
iframe{
    margin: 20px;
    border-radius: 20px;
}
.section4{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(82, 82, 82);
}
.section4 h3{
    text-align: center;
    font-size:180%;
}
.section4 p{
    padding: 0px 15%;
}
#que{
    margin: 20px 25%;
    background-color: lightsalmon;
}
.section5{
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
}
.section5 #beta{
    margin-left: 550px;
    color: red;
}
.section5 #project{
    margin-left: 375px;
}
